

.orders {
	/* width: 20%;
	min-height: 600px;
	*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: right;
    padding: 20px;
    background-color: #f0f0f0; /* Light background for the info section */
    border-radius: 8px; /* Rounded corners for the info section */
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* Subtle shadow for depth */
	gap: 5px;
}

.ordersContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* Style the button */
.deleteButton {
	background-color: #f44336; /* Red background color */
	color: white; /* Text color */
	border: none; /* Remove border */
	padding: 8px 16px; /* Add padding for spacing */
	cursor: pointer; /* Show pointer cursor on hover */
	transition: 0.3s; /* Add a smooth transition effect */
  }
  
  /* Style the delete icon (assuming you're using an SVG) */
  .deleteButton svg {
	color: #f44336; /* Match the button's background color */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: 0.3s;
  }
  
  /* Add hover effect */
  .deleteButton:hover {
	background-color: #d32f2f; /* Darker red on hover */
  }
  
  /* Adjust the icon color on hover */
  .deleteButton:hover svg {
	color: #d32f2f;
  }
  
  .red {
    background-color: #ff6347;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 14px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.red:hover {
    background-color: #d9534f;
}

  .green {
	margin-top: 5px;
    padding: 5px 10px;
	background-color: green; /* Primary button color */
	color: white; /* Text color */
	border: none; /* Removes default border */
	border-radius: 5px; /* Rounded corners */
	cursor: pointer; /* Changes cursor to pointer */
	transition: all 0.2s ease; /* Smooth background color transition */
  }

  .green:hover {
	background-color: #0b7035; /* Darker shade on hover */
}