.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 80vh;
    background-color: var(--bgSoft);
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
    gap: 50px;
    flex-wrap: wrap;
}

.cart {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    flex: 1;
    max-width: 60%;
}

.cartItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    gap: 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cartItem img {
    border-radius: 8px;
}

.amount {
    display: flex;
    align-items: center;
    gap: 10px;
}



.empty {
    align-items: center;
    justify-content: center;
}
