/* .links {
	display: flex;
	gap: 20px;
}
.logout {
	padding: 10px;
	cursor: pointer;
	font-weight: bold;
	border: none;
	border-radius: 5px;

}
.menuButton,.mobileLinks {
	display: none;
}

.hello {
	text-align: center;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media(max-width: 760px){
	.links {
		display: none;
	}
	.mobileLinks {
		position: absolute;
		top: 100px;
		right: 0;
		width: 50%;
		height: calc(100vh - 100px);
		background-image: linear-gradient(45deg, white, grey);
		color: black;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}
	.menuButton {
		display: block;
		background-color: white;
		cursor: pointer;
	}
} */

.container {
    display: flex;
    align-items: center;
    gap: 20px;;
}

.links {
    display: flex;
    gap: 20px;;
}

.logout {
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: #00000090;
    background-color: #e6dd7c;
}

.all {
    align-items: center;

}
.menuButton, .mobileLinks {
    display: none;
}

.hello {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #006400;
}

@media (max-width: 860px) {
    .links {
        display: none;
    }
    .mobileLinks {
        position: absolute;
        top: 100px;
        right: 0;
        width: 50%;
        height: calc(100vh - 100px);
        background-image: linear-gradient(45deg, white, grey);
        color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .menuButton {
        display: block;
        cursor: pointer;
    }
}
