.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjusted height to account for navbar */
    background-color: var(--bgSoft);
    text-align: center;
    padding: 20px;
}

.textContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--bg);
}

.desc {
    font-size: 30px;
    font-weight: 500;
    color: var(--bg);
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button_1,
.button_2 {
    padding: 10px;
    min-height: 50px;
    min-width: 160px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.button_1:first-child {
    background-color: green;
    color: white;
}

.button_2:first-child {
    background-color: white;
    color: black;
}

.button_1:hover,
.button_2:hover {
    background-color: green;
    color: white;
}