@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@400;500&display=swap');

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-color: white;
}

.textContainer {
  flex: 1;
  margin-right: 20px;
  font-family: 'Playfair Display', serif;
}

.textContainer h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.textContainer p {
  margin-bottom: 20px;
  font-size: 1.1em;
  line-height: 1.5;
}

.textContainer ul {
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 20px;
}

.textContainer ul li {
  margin-bottom: 10px;
  font-size: 1em;
}

.orderButton {
  background-color: #4b8b3b; /* Green background */
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.orderButton:hover {
  background-color: #224e1a; /* Darker green on hover */
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  max-width: 40%; /* Adjust this value to make the image container smaller */
}

.imageContainer img {
  width: 100%;
  height: auto;
  border: 5px solid #d3d3d3;
  border-radius: 10px;
}
